sudo: required
dist: bionic
language: node_js
node_js:
  - node

install:
  - npm install

before_script:
  - chmod +x ./travis/_deploy.sh

script:
  - npm run build

after_success:
  - ./travis/_deploy.sh